@model IEnumerable<HelloMvcApp.Models.Phone>

@{
    ViewData["Title"] = "Список телефонов";
}

<!DOCTYPE html>

<html>
<head>
    <title>Магазин телефонов</title>
</head>
<body>
    <h3>Телефоны</h3>
    <table>
        <tr>
            <td>Модель</td>
            <td>Производитель</td>
            <td>Цена</td>
            <td></td>
        </tr>
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>
