@model IEnumerable<HelloMvcApp.Models.Phone>

@{
    ViewData["Title"] = "Каталог товаров";
}

<!DOCTYPE html>

<html>
<head>
    <title>Магазин телефонов</title>
</head>
<body>
    <h3>Телефоны</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <td>Модель</td>
                <td>Производитель</td>
                <td>Цена</td>
                <td></td>
            </tr>
        </thead>
        
        @foreach (var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Купить</a></td>
            </tr>
        }
    </table>
</body>
</html>
